@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
@import 'https://fonts.googleapis.com/css?family=Comfortaa:300,700|Bungee+Shade|Josefin+Sans:400';


*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color:rgb(18, 42, 49);
  overflow: hidden;
}

a { color: white; text-decoration: none; }
/*-------->> header nav <<-----------*/

  .nav {
    height: 50px;
    width: 100%;
    background-color: rgb(18, 42, 49);
    position: fixed;
    top: 0;
    z-index: 300;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    color: #fff;
    padding: 6px 4px 6px 4px; /*mq*/
    font-size: 18px; /*mq*/
  }

  .nav > .nav-header > .nav-title:hover {
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
   }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 16px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
    
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  
  .nav > #nav-check {
    display: none;
  }

  @media (max-width:768px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
      cursor: pointer;
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: rgb(18, 42, 49);
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    } 
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(60vh - 50px);
      overflow-y: auto;
      text-align: center;
    }
  }

  
 

/* ===========================================================*/

  /* ---------------------->INTRO<----------------------------*/

  .intro {
    margin: 0;
    padding: 0;
    background-color: rgb(18, 42, 49);
    background-image: url("../images/intro_img.png");
    width: 100%;
    height: 100vh;
    max-height: 100%;
    background-blend-mode:multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 20%; /*mq*/
  }


  .intro h1 {
    color:rgb(18, 42, 49);
    background-color: slategrey ;
    vertical-align: middle;
    text-align:center;
    padding-top: 3%; /*mq*/
    font-size: 72px; /*mq*/
    letter-spacing: 42px;  /*mq*/
  }

  .line-wrapper-1 .line-1 {
    color: rgba(255,255,255,.75);
    font-family: 'Anonymous Pro', monospace;  
    background-color: rgb(25,25,25);
    box-sizing: border-box;
    width: 100%;
    border-right: 2px solid rgba(255,255,255,.75);
    text-align: center;
    overflow: hidden;
    transform: translateY(-10%);
    position: absolute;
    display: flex;
    font-size: 48px;
    word-spacing: 16px;
    padding-left: 1%;
    padding-right: 1%;
    white-space:pre-line;
    height: 12vh; /* mq */
    margin-top: 1.8%; /* mq */
  }	

  .goto-btn {
  transition: box-shadow 0.5ms ease-in-out, color 0.9ms ease-in-out;
  box-sizing: border-box;
  appearance: none;  
  background-color: rgb(18, 42, 49);
  border: 3px solid;
  border-radius: 0.6em;
  border-color: rgba(67, 242, 224, 1);;
  color: whitesmoke;
  cursor: pointer;
  display: flex;
  align-items: center;
  align-self: center;
  padding-top: 0.5%;
  padding-right: 0.2%;
  padding-bottom: 0.5%;
  padding-left: 0.6%;
  margin: 0 auto;
  position: relative;
  z-index:2;
  }

  .goto-btn-txt {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 700;
    font-size: 18px; /*mq*/
    letter-spacing: 10px; /*mq*/

  }

.goto-btn:hover {
  filter:saturate(10);
}

.section-footer { 
  position: absolute;
  width: 100%;
  background: rgb(18, 42, 49,.3);
  justify-content: center; 
  align-items: center;
  z-index:0;
  height: 4.7vh; /*mq*/
  margin-top: 17%; /*mq*/
}

.line-wrapper-2 .line-2 {
  color: rgba(255,255,255,.75);
  font-family: 'Anonymous Pro', monospace;  
  background-color: rgb(25,25,25);
  box-sizing: border-box;
  width: 100%;
  border-right: 2px solid rgba(255,255,255,.75);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
  position: absolute;
  display: flex;
  padding-left: 1%;
  padding-right: 1%;
  margin-top: 36%; /*mq*/
  font-size: 29px; /*mq*/
  word-spacing: 29px; /*mq*/
  height: 4vh; /*mq*/
}	

  /* Typewriter Animation */
  .anim-typewriter{
    animation: typewriter 1s steps(44) 1s 1 normal both,
               blinkTextCursor 1000ms steps(44) infinite normal;
  }
  @keyframes typewriter{
    from{width: 80%;}
    to{width: 100%;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  }


  /* spikes animation*/
  .spike {
    position: relative;
    width: 100%;
    background: url("../images/spikes_anim_img.png");
    background-repeat: repeat;
    background-size: 1000px 100px;
  }  

  .spike#spike1 {
    opacity: 0.3;
    animation: animateWaves 100s linear infinite;
    height: 9.5vh;
    margin-top: 37%; /*mq*/
  }

  @keyframes animateWaves {
    0% {
      background-position-x: 1000px;
    }
    100% {
      background-position-x: 0px;
    }
  }
  
  @keyframes animate {
    0% {
      background-position-x: -1000px;
    }
    100% {
      background-position-x: 0px;
    }
  }
  
  
  
/*==================================================================*/

/*==========================ai-101 section=======================================*/
.ai-101 {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(176, 221, 236, 0.966);
  background-image: url("../images/ai_101_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode:color-dodge;
  color: rgb(25,25,25);
  background-attachment:fixed;
  background-position: 50% 50%;
}


.section-header{
  position: relative;
  display: inline;
  z-index: 3;
  }

.section-header h2{
  background-color: #0e101f;
  font-size: 60px;
  color: whitesmoke;
  text-align: center;
  height: 15vh;
  padding-top: 3%;
  }

.ai-101-container article {
  color: rgb(18, 42, 49);
  margin-left: 1%;
  margin-right: 1%;
  text-align: justify;
}

.ai-101-container h3 {
float: left;
text-align: right;  
font-size: 32px;
font-weight: 500;
overflow-wrap: break-word;
line-height: 20px;
vertical-align: middle;
display: inline;
color: rgb(18, 42, 49);
padding-bottom: 20%;
margin-top: 0.5%;
}


.ai-101-container  p {
  font-size: 28px;
  font-weight: 500;
  display: inline;
  color: black;
  margin-left: 0.5%;
  }

  .ai-101-a {
    margin-top: 5%;
  }
  
 .ai-101-d {
   margin-top: -15%;
   float: left;
 } 

 #ml-icon {
  width: 120px;
  float: left;
  position: absolute;
  display: flex;
  margin-top: 1%;
  margin-left: 1%;
}

 #mimic-icon {
  width: 100px;
  float: left;
  position: absolute;
  display: flex;
  transform: rotate(-35deg);
  margin-top: 9%;
  margin-left: 5%;
}

#process-icon {
  width: 70px;
  float: left;
  position: absolute;
  display: flex;
  transform: rotate(45deg);
  margin-top: 9%;
  margin-left: 12.5%;
}

 #ux-icon {
   width: 50px;
   float: left;
   position: absolute;
   display: flex;
   margin-top: 1%;
   margin-left: 9%;
 }

  #big-data-icon {
    width: 50px;
    float: left;
    position: absolute;
    display: flex;
    margin-top: 1%;
    margin-left: 1%; 
  }

  #bus-mgt-icon {
    width: 60px;
    float: left;
    position: absolute;
    display: flex;
    margin-top: 1%;
    margin-left: 1%;

  }

  #op-icon {
    width: 60px;
    float: left;
    position: absolute;
    display: flex;
    margin-top: 1%;
    margin-left: 8.5%;
  }
 
  #elv-icon {
   width: 60px;
   float: left;
   position: absolute;
   display: flex;
   margin-top: 1%;
   margin-left: 16.5%;
 }
 
   #growth-icon {
     width: 60px;
     float: left;
     position: absolute;
     display: flex;
     margin-top: 1%;
     margin-left: 24%; 
   }
   
   .author{
   position: relative;
   display: flex;
   float: right;
   color: white;
   line-height: 20px;
   height: 150px;
   max-width: 100px;
   width: 100%;
   white-space: nowrap;
   position: relative;
   z-index: 30;
   margin-right: 10.6%; /* mq */
   margin-top: -4%;
   }


   .author > p {
     line-height: 18px;
     padding-right: 5%;
     padding-left: 5%;
     white-space: pre-line;
     margin-top: 8%;
   }

   .author > aside {
    line-height: 18px;
    border-left: 2px solid rgba(127, 221, 252, 0.932);
    height: 7vh;
    padding-left: 5%;
    margin-top: 8%;
  }

   .profile-photo { 
    border: none;
    border-radius: 50%;
    overflow: hidden;
    width: auto;
    min-width: 60px;
    max-width: 100%;
    max-height: 50px;
    display: block;
    float: right;
    color: white;
    margin-top: 4%; /*mq*/
    filter:saturate(25%);
   }

.audio-player {
  position: relative;
  float:left;
  margin-top: -4%;
  margin-left:-0.3%;
  width: 310px;
  height: 5vh;
  opacity: 0.3;
  filter:invert(100%);
  z-index: 20;
  }

  .audio-player:hover {
    opacity: 0.9;
  }

  audio::-webkit-media-controls-play-button {
    background-color: transparent;
    border-radius: 50%;
  }
  
  audio::-webkit-media-controls-play-button:hover {
    background-color: rgba(127, 221, 252, 0.932);
    filter:invert(100%);
  }
  
  #listen{
    background:transparent;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    margin-left: 0.7%;
    margin-top: -1%;  /*mq*/
    font-size: 14px;  /*mq*/
    letter-spacing: 5px;  /*mq*/
    position: absolute;
    z-index: 600;
  }

  .fas > .fa-hand-pointer{
    float: left;
    background-color: black;
    height: 2vh;
    color: rgba(127, 221, 252, 0.932);
    padding-right: 0.5%;
  }
  
  .fa-clock {
    position: absolute;
    color: white;
    background: transparent;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;  /*mq*/
    letter-spacing: 5px;  /*mq*/
    margin-top: -1%; /*mq*/
    margin-left: 90.8%; /*mq*/
    z-index: 600;
  } 

  .ai-101 img {
    filter:saturate(25%);
  }

  #graphical-img { /*qq*/
  filter:saturate(20%);
  position: relative;
  min-width: 100%;
  max-height: 12vh;
  margin-top: -20%;
  }

/*=====================================================end============================================================= */
 
/*============#industries===================================start=====================#industries============================= */


.industries{
    background: rgba(14, 16, 31, 0.7);
    color: #fff;
    font-family: Comfortaa, sans-serif;
    font-weight: 300;
    letter-spacing: .03rem;
    line-height: 1;
    margin: 0 auto;	
    height: 100vh;
  }
  #adjust-header {
    padding-top: 3.5%;
  }

/* GRID */

.grid-template-rows-1 , .grid {
  display: grid;
  padding: 2.5px 2.5px;
  min-height: 100%;
  grid-template-columns: auto auto auto auto;
  margin-bottom: -15.7%; /* mq */
}

 .grid {
	width: auto;
  min-height: 70vh; /* mq */
  height: 75vh; /* mq */
	border: none;
  background-color: rgb(25,25,25);
}

#healthph {
  background-image: url("../images/healthcare-image.png");
  background-repeat: no-repeat;
  background-size:cover;
  background-blend-mode:overlay;
}
#healthph:hover {
  background-blend-mode:normal;
}

#bankfin {
  background-image: url("../images/bank_img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode:overlay;
}

#bankfin:hover {
  background-blend-mode:normal;
}

#retailecom {
  background-image: url("../images/ecom_img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode:overlay;
}
#retailecom:hover {
  background-blend-mode:normal;
}

#manufacturing {
  background-image: url("../images/manufacturing-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode:overlay;
}

#manufacturing:hover {
  background-blend-mode: normal;
}

.item {
	margin: 2.5px;
	text-align: center;
	font-size: 1.5em;
  position: relative;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.6);
}

.grid h3 {
	text-align: center;
	font-size: 32px;
  font-weight:600;
  background-color: inherit;
  filter: invert(10%);
  color: white;
}
.grid p {
  text-align: center;
  color: rgba(1, 8, 12, 1);
  mix-blend-mode:hard-light;
  line-height: 30px;
}

.grid-span {
  position: absolute;
  top: 50%;
  left: 50%;  
  transform: translate(-50%, -50%);
  font-weight: 600;
  line-height: 26px;
  font-size: 24px;
  color: white;
  background: rgba(0,0,0,0.6);
}

.grid a {
  position: absolute;
  bottom: 8px;
  right: 16px;
  background: rgba(0,0,0,0.6);
}

.grid a:hover {
filter: invert(100);
}
/*======================================================= */


/* GENERIC==========================POP-UP ARTICLE==========================GENERIC */


/*-------------popup header----------------------- */

.popup-heading-2 {
  background-color: #0e101f;
  position: absolute;
  height: 4vh;
  width: 100%;
  margin-top: 10%;
  z-index: 400;
}


.article-header h2 {
  background-color:  #0e101f;
  font-size: 30px;
  color: whitesmoke;
  text-align: center;
  width: 100%;
  height: 7vh;
  margin-bottom: -10%;
  padding-top: 2.6%;
  position: relative;
  z-index: 200;
  }

.author-pu{
  position: absolute;
  display: flex;
  z-index: 1;
  color: white;
  line-height: 20px;
  height: 150px;  
  max-width: 100px;
  width: 100%;  
  white-space: nowrap;
  margin-top: -4%;  /* mq */
  margin-left: 75.5%; /* mq */
  }

  .author-pu > p {
    line-height: 20px;
    margin-right: 6%;
    margin-left: 6%;
    padding-top: 22%;
    font-size: 12px;
    color: white;
  }

  .author-pu > aside {
    border-left: 2px solid rgba(127, 221, 252, 0.932); 
    color:white;
    font-size:14px;
    text-align: left;
    padding-top: 10%;
    padding-left: 5%;
    margin-top: 5%;
    line-height: 18px;
    height: 7vh;
  }
 

  .author-pu > .profile-photo {
    margin-top: 14%;
    min-width: 60px;
    max-width: 100%;
    max-height: 50px;
    filter:saturate(25%);
  }

.audio-player-pu {
 float:left;
 opacity: 0.3;
 filter:invert(100%);
 position: absolute;
 display: flex;
 z-index: 100;
 width: 300px;
 height: 3vh;
 margin-top: -4%; /* mq */
 }

 .audio-player-pu:hover {
   opacity: 0.9;
 }

 .pointer-pu {
   float: left;
   margin-top: 0.5%; /* mq */
   margin-left: 2%;
   height: 2.5vh;
   color: white;
   padding-right: 0.5%;
   font-family: 'Times New Roman', Times, serif;
   font-size: 11px;  /*mq*/
   letter-spacing: 6px;  /*mq*/
 }

 
 .clock-pu{  
   position: absolute;
   display: block;
   z-index: 900;
   color: whitesmoke;
   margin-top: 0.5%;
   margin-left: 65%;
   font-family: 'Times New Roman', Times, serif;
   font-size: 11px;  /*mq*/
   letter-spacing: 6px;  /*mq*/
 }  

.cancel {
  position: absolute;
  display: block;
  background: transparent;
  color:whitesmoke;
  height:30px;
  width:35px;
  font-size:38px;
  text-decoration:none;
  text-align:center;
  font-weight:bold;
  z-index: 1000;
  top: 0;
  margin-left: 97.2%;
}

.cancel:hover {
  color:red;
}
/*=====================================================*/


.popup-container {
  height:135%;
  width:100%;
  position: relative;
  z-index: 600;

}

.cover {
  position:fixed;
  top:0;
  left:0;
  background:rgba(0,0,0,0.9);
  z-index:0;
  width:100%;
  height:100%;
  display:none;
}


.popup-article { 
  height:100vh;
  width:69%;
  margin-left: 16%;
  margin-top: -32%;
  position:absolute;
  display:none;
  background: #424242;
  border:5px solid whitesmoke;
  border-radius:10px;
  overflow-y:hidden;
  overflow-x:hidden;
  z-index: 700;
}


.popup-article article { 
  background-color: white;
  overflow-y:scroll;
  overflow-x:hidden;
  border-radius: 50px;
  height: 100%;
  max-width: 100%;
  max-height: 87.7%; /*mq*/
  padding-right: 8px; /*mq*/
  margin-top: 13.3%; /* mq */
  margin-right: 0.5%; /*mq */
  margin-left: 0.5%; /*mq*/
}

.lhs-image-wrapper > img {
  position: absolute;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  width: 412px;
  height: 87.75%;
  margin: 0 auto;
}

.article-p1 p { 
  text-align: justify;
  height: 200%;
  float: right;
  display: inline;
  padding-left: 33%;
  margin-top: 0.5%;
  color: black;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
}

.quote-wrapper {
  margin-top: 2%;
  padding-left:35%;
  float:right;
  filter:saturate(25%);
}


.quote{
  font-size: 20px;
  color: darkblue;
  font-weight:bolder;
  text-align:center;
  line-height: 42px;
}

.q-caption {
  color:black;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.q-icon {
  width: 50px;
  margin-left: 42%;
}

.article-p2 {
  text-align: justify;
  padding-left: 47.5%;
  margin-right: 0;
  float:right;
  display: inline;
  padding-left: 33%;
  color: black;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
}

.article-p2 h3 {
 color: white;
 background:#0e101f;
 text-align: center;
 font-size: 24px;
 margin-top: 3%;
 margin-bottom: 3%;
 
}

.btm-image-wrapper img{
  background:#0e101f;
  padding-left: 3%;
  padding-right: 3%;
  margin-top:  5%;
  width: 100%;
  height: 27vh;
}


.popup-footer {
display: none;
}


/* healthph===============POP-UP ARTICLE=============healthph */


#popup-article-healthph:target, #popup-article-healthph:target + .cover{
  display:block;
  opacity:2;
}


/* bankfin===============POP-UP ARTICLE=============bankfin */


#popup-article-bankfin:target, #popup-article-bankfin:target + .cover{
  display:block;
  opacity:2;
}

/* ecom===============POP-UP ARTICLE=============ecom */


#popup-article-ecom:target, #popup-article-ecom:target + .cover{
  display:block;
  opacity:2;
}

/* manufacturing===============POP-UP ARTICLE=============manufacturing */


#popup-article-mnf:target, #popup-article-mnf:target + .cover{
  display:block;
  opacity:2;
}

/*==========================================================================================*/
/*==========================================================================================*/


.podcasts {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(18, 42, 49);
}

  .top-image-wrapper img {
    width: 100%;
    height: 40vh;
    filter:saturate(30%);
  }

  .column {
    position: relative;
    display: inline-table;
    width: 31.2%;
    height: 100%;
    box-sizing: border-box;
    border: 4px solid;
    background-color: rgba(127, 221, 252, 0.3);
    border-color: rgba(127, 221, 252, 0.932);
    padding-top: 1.5%;
    padding-right: 0.25%;
    padding-bottom: 1.5%;
    margin-left: 1.5%;
    margin-top: 0.5%;
  }

  .column p {
    height: 10vh;
    font-size: 20px;
    line-height: 25px;
    font-weight: 500;
    text-align: justify;
    padding-left: 6%;
    padding-right: 6%;
  }
  
  .column:hover {
    background-color: rgba(127, 221, 252, 1);
  }

iframe {
  filter:saturate(20%);
  padding: 0.4em 2.0em;
  width: 100%;
  height: 65%;
}

iframe:hover {
  filter: invert(100%);
}
#footer-pd{
  position: relative;
  margin-top: 1%;
  height: 10vh;
}

 
.wave {  
  background: url("../images/ai_wave.png");
  background-size: 1000px 100px;
  width: 100%;
  height: 60px;
  padding-top: 0.5%; /*mq*/
}

.wave#wave1 {
  z-index: 1000;
  opacity: 0.6;
  bottom: 0;
  animation: animateWaves 18s linear infinite;
}


@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-position-x: 0px;
  }
}


.subscribe {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: sans-serif;
  color: #ffffff;
  background-image: url("../images/subscribe_bg.png");
  background-color: rgb(18, 42, 49);
  background-blend-mode:multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 40% 20%; /*mq*/
}



*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
}


.subscribe-form h1 {
  text-align: center;
  margin-top: 8.5%;
  margin-bottom: 3%;
  font-size: 42px;
}

.subscribe-form p {
  text-align: center;
  margin: 30px 0;
  font-size: 20px;
  text-transform: uppercase;
}
.subscribe-form form {
  max-width: 320px;
  margin: 0 auto;
}

.subscribe-form input {
  position: relative;
  top: 0;
  background-color: #ffffff;
  color: #898B8C;
  width: 100%;
  height: 70px;
  font-size: 1.5em;
  text-align: center;
  border-radius: 5px;
}

#checkbox {
  width: 20px;
  float: left;
}

#subscribe-form > label {
float: right;
font-size: 12px;
margin-top: 8%;
}

#submit-button {
  float: right;
  width: 50px;
  margin-top: -22%;
  margin-right: -10%;
  background: #0e101f;
  color: white;
  border: 2px solid white;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#submit-button:hover {
  filter: invert(100);
  cursor:pointer;
}


#subscribe-footer {
  margin-top: 16.9%;
}

/*===============================================================================================*/
/*===============================================================================================*/


.contact {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  color: #fff;
  font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana,
    "sans-serif";
  background-image: url("../images/contact-bg.png");
  background-color: rgb(18, 42, 49);
  background-blend-mode:multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -10% -10%; /*mq*/
}

.contact-container {
  margin-left: 22%;
  margin-top: 5%;
  width: 70%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
}

.contact-container form {
  width: 100%;
  margin: 0;
}

.contact-container form * {
  font-size: 20px;
  letter-spacing: 0.075em;
  font-weight: 300;
  cursor: pointer;
  text-decoration: none;
}

.contact-container form .field {
  width: 100%;
  position: relative;
  margin-bottom: 15px;
}

.contact-container form .field label {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, rgba(33, 141, 165, 1), rgba(39, 89, 89, 1));
  width: 100%;
  height: 64px;
  transition: width 333ms ease-in-out;
  text-align: center;
  padding: 18px 0;
}

.contact-container form .field input[type="text"], .field input[type="email"],
form .field textarea {
  border: none;
  width: 100%;
  height: 64px;
  margin: 0;
  padding-left: 19.5%;
  color: #313a3d;
}

.contact-container form #msg {
  height: 64px;
  resize: none;
  transition: all 333ms ease-in-out;
  padding-top: 18px;
}
.contact-container form textarea:focus#msg,
.contact-container form textarea:not(:placeholder-shown)#msg {
  height: 20vh;
}
.contact-container form input[type="text"]:focus + label,
.contact-container form input[type="text"]:not(:placeholder-shown) + label,
.contact-container form input[type="email"]:focus + label,
.contact-container form input[type="email"]:not(:placeholder-shown) + label,
.contact-container form textarea:focus + label,
.contact-container form textarea:not(:placeholder-shown) + label,
.contact-container form .field:hover label {
  width: 18%;
}
.contact-container form input[type="submit"] {
  background: linear-gradient(90deg, rgba(255,255,255,.75), rgba(127, 221, 252, 0.932));
  -webkit-appearance: none;
  border: none;
  position: relative;
  padding: 13px 50px;
  transition: all 0.3s ease-in-out;
}
.contact-container form input[type="submit"]:hover,
.contact-container form input[type="submit"]:focus {
  background: rgb(18, 42, 49);  
  color: whitesmoke;
}

#send-btn {
  margin-left: 84.4%;
  background: #0e101f;
  color: white;
}

#send-btn:hover {
filter:invert(100);
}


/*=================================================================================================*/
/*=================================================================================================*/


/*---------->footer<--------------------------- */

.footer {
  position: relative;
  width: 100%;
  background: rgb(18, 42, 49);
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -7%;
  z-index: 900;
}

.social-icon, .social-icon__item{
  list-style:none;
  display: inline-block;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display:inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}


/* ========================================================*/
/* ========================================================*/

/*------------------------------------MEDIA QUERIES---for---Laptops & Large Displays-----------------------------*/

/* (1680x1050) WSXGA+ Display */
@media  screen and (max-width: 1680px) {
  /*header*/
  .nav > .nav-header > .nav-title {
    padding: 8px 4px 8px 4px;
    font-size: 14px;
  }

  /*intro*/
  .intro h1 {
    font-size: 64px;
    letter-spacing: 32px;
  }

  .line-wrapper-1 .line-1 {
    font-size: 38px;
    word-spacing: 5px;
    height: 11vh;
  }	
  .line-wrapper-2 .line-2 {
    margin-top: 34.1%;
    font-size: 26px;
    word-spacing: 3.5px;
  }	

  .spike#spike1 {
    height: 9.5vh;
    margin-top: 35%; /*mq*/
  }

  /*ai-101 section*/

  .section-header h2{
    padding-top: 2.4%;
    }
  
  
     
  .profile-photo { 
    margin-top: 9%;
    }

  .author {
    position: absolute;
    margin-left: 80.1%;
    margin-top: -4.3%;
  }

  .fa-clock {
    margin-left: 88.5%; /*mq*/
    } 

  .ai-101-container h3 {
    font-size: 28px;
    font-weight: 500;
   }
      
      
  .ai-101-container  p {
    margin-top: 0.5%;
    font-size: 22px;
    font-weight: 400;
  }

  .ai-101-a {
    margin-top: 2%;
  }
  
 .ai-101-d {
   margin-top: -13%;
 } 

 .image-container {
   margin-top:  -5%;
 }

 .section-footer {
   height: 5vh;
 }
 
 /*#industries section*/

 .grid h3 {
	text-align: center;
	font-size: 28px;
  font-weight:500;
  }

.grid-span {
  font-weight: 400;
  font-size: 22px;
}

.grid a {
  font-size: 18px;
}

/*popup*/

.article-header h2 {
  padding-top: 2.2%;
  font-size: 26px;
  }

  .pointer-pu {
    margin-top: 1.5%;
    margin-left: 2%;
  }
 
.author-pu{
  margin-left: 69.8%;
}

.author-pu > .profile-photo { 
  margin-top: 9%;
}

.author-pu > aside {
  height: 8vh;
}

.clock-pu{  
  margin-top: 1.25%;
  margin-left: 57.5%;
}

.lhs-image-wrapper > img {
  width: 320px;
}

.article-p1 p { 
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.q-icon {
  width: 40px;
}

.quote{
  margin-top: 1%;
  font-size: 18px;
  line-height: 28px;
}

.article-p2 h3 {
  font-size: 22px;
 }

.article-p2 {
 font-size: 18px;
 font-weight: 400;
 line-height: 24px;
}

/*#podcasts section*/

.top-image-wrapper img {
  height: 34vh;
}

.column p {
  font-size: 18px;
  line-height: 22px;
  padding-left: 7%;
  padding-right: 7%;
}

/*#subscribe section*/

.subscribe {
  background-position: 20% 20%;
}

.subscribe-form {
  margin-top: -3%;
}

#subscribe-footer {
  margin-top: 18%;
}


.contact {
  background-position: 20% -10%;
}

.contact-container {
  margin-left: 17%;
  margin-top: 5%;
  }

}

/*========================================================================*/


/* (1440x900) WXGA+ Display */
@media  screen and (max-width: 1440px) {
  /*intro section*/ 
 
  .nav > .nav-links {
  padding-right: 1.5%;
  }

  .intro {
    background-position: 0 80px ;
  }

  .intro h1 {
   font-size: 92px ;
   letter-spacing: 48px ;
   padding-left: 3% ;
   padding-top:3.5%;
   padding-bottom: 1.5%;
   line-height: 100px ;
  }

  
  .line-wrapper-1 .line-1 {
    margin-top: 0 ;
    height: 9.7vh ;
  }	

  .line-wrapper-2 .line-2 {
    margin-top: 34% ;
    font-size: 24px ;
    word-spacing: 6px ; 
  }	

  .spike#spike1 {
    margin-top: 35% ;
    height: 13vh ;
  }

  /*#ai101 section*/

  .section-header h2 {
    padding-top: 4% ;
  }

  .ai-101-a {
    margin-top: 4.5% ;
  }

 .form2-wrapper {
   margin-top: 22%;
 }

 .audio-player {
  margin-top: -5%;
 }

 .author {
   margin-left: 78% ;
 }

 .author > aside {
  height: 6vh;
}


.fa-clock {
  margin-left: 86.8% ;
  } 

  .profile-photo {
    margin-top: 1% ;
  }


/*popup article*/

.audio-player-pu {
  margin-top: -5.5% ;
}

.author-pu {
  margin-top: -5%;
  margin-left: 72% ;
}

.author-pu > p {
white-space: pre-line;
padding-top: 3%;
}

.author-pu > aside {
padding-top: 0 ;
height: 5vh ;
}
  

.author-pu > .profile-photo {
  margin-top: 4% ;
  min-width: 50px;
  max-height: 40px;
}

.clock-pu{  
  margin-top: 2% ;
  margin-left: 54% ;
}

.popup-article article {
  padding-left: 2%;
  padding-right: 2%;
  margin-top: 14.2%;
}

.lhs-image-wrapper {
  margin-left: -2.2%;
}

/*#podcasts section*/
.column {
  margin-top: 2%;
  margin-bottom: 2%;
}


/*#subscribe section*/

.subscribe-form {
  padding-top: 5%;
}

#subscribe-footer {
  margin-top: 23% ;
}

/* #contact section */

.contact {
  background-position: 0 90px ;
}

.contact-container {
  margin-left: 15% ;
  margin-top: 9% ;
}

.footer p {
  margin-top: 0.5%;
}

}
  /* ================================================================================= */


/* (1280x1024) SXGA Display */
@media screen and (max-width: 1280px) {

  .intro {
    background-position: -100px 115px;
  }

  .intro h1 {
   padding-top: 4%;
   padding-bottom: 2%;
  }
  
  .line-wrapper-1 .line-1 {
    height: 12vh ;
  }	

  .section-footer {
    margin-top: 22.5%;
  }

  .line-wrapper-2 .line-2 {
    margin-top: 45%;
    font-size: 24px ;
    word-spacing: 6px ; 
  }	

  .spike#spike1 {
    margin-top: 46% ;
    height: 15vh ;
  }

  /* wip*/

}

/*===================================================================================*/

