@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
header
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.7;
}

header .logo
{
  color: #ae2a50;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
}

header .center {
  left: 50%;
  position: absolute;
  box-sizing: border-box;
  transform: translateX(-50%);
  color: whitesmoke;
}



.toggle
{
  position:absolute;
  width: 60px;
  height: 60px;
  background: url(https://i.ibb.co/HrfVRcx/menu.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  top: 10%;
  left: 90%;
  cursor: pointer;
}
.toggle.active
{
  background: url(https://i.ibb.co/rt3HybH/close.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  top: 10%;
  left: 90%;
  position: center;
  cursor: pointer;
}

header {
  transition: all 0.5s ease;
  height: 65px;
  box-shadow: 0 3px 5px rgba(0,0,0,0.8);
  z-index: 400;
  background-color: #013459;
}

.showcase
{
  position: relative;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  transition: 0.5s;
  z-index: 2;
}
.showcase.active
{
  right: 300px;
}

.showcase video
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit:none;
  opacity: 0.3;
}
.overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsl(256, 98%, 48%);
  mix-blend-mode: overlay;
}


/* ------------pop-window----------- */

.ontop {
  z-index: 9999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  position: absolute;
  background-color: black;
  color: #aaaaaa;
  opacity: 3;
  filter:alpha(opacity=80);
}
#popup {
  width: 300px;
  height: 200px;
  position: absolute;
  color: #000000;
  background-color: #ffffff;
  /* To align popup window at the center of screen*/
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -150px;
}


/* --------------------------------- */

.content-box {
  position: relative;
  padding-top: 5px;
  padding-right: 220px;
  padding-bottom: 100px;
  padding-left: 250px;
  width: 1500px;
  overflow: hidden;
}

.content-bg {
  position: absolute;
  background-size: cover;
  background-image: url('http://7-themes.com/data_images/out/65/6995506-wood-textured-desktop-background.jpg');
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-size: no-repeat fixed center center cover;
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

.content {
  border-radius: 10px;
  z-index: 100;
  background-color: black;
  opacity: 0.7;
  color: white;
}


.content h1 {
  font-size: 40px;
  color: white;
}

.content h2 {
  font-size: 30px;
  color: white;
}

.content h3 {
  font-size: 20px;
  color:turquoise;
  text-align: right;
}

#highlight {
  color: turquoise;
}


.text
{
  position: relative;
  z-index: 10;
}

.text h2
{
  font-size: 5em;
  font-weight: 800;
  color: #542cfa;
  line-height: 1em;
  text-transform: uppercase;
}
.text h3
{
  font-size: 4em;
  font-weight: 700;
  color: #542cfa;
  line-height: 1em;
  text-transform: uppercase;
}
.text p
{
  font-size: 1.1em;
  color: #542cfa;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}
.text a
{
  display: inline-block;
  font-size: 1em;
  background: #542cfa;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}
.text a:hover
{
  letter-spacing: 6px;
}
.social
{
  position: absolute;
  z-index: 10;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social li
{
  list-style: none;
}
.social li a
{
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
}
.social li a:hover
{
  transform: scale(0.5) translateY(-15px);
}
.menu
{
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu ul
{
  position: relative;
}
.menu ul li
{
  list-style: none;
}
.menu ul li a
{
  text-decoration: none;
  font-size: 24px;
  color: #111;
}
.menu ul li a:hover
{
  color: #03a9f4; 
}

@media (max-width: 991px)
{
  .showcase,
  .showcase header
  {
    padding: 40px;
  }
  .text h2
  {
    font-size: 3em;
  }
  .text h3
  {
    font-size: 2em;
  }
}

/* images in pop-up */

.container-bk{

  width: 150px;
  margin: 0;
  padding-top: 10px;
  padding-right:100px;
  padding-bottom:10px;
  padding-left:10px;

}


.container-hc{

  width: 150px;
  margin: 0;
  padding-top: 10px;
  padding-right:80px;
  padding-bottom:100px;
  padding-left:20px;

}

.container-ec{

  width: 150px;
  margin: 0;
  padding-top: 10px;
  padding-right:60px;
  padding-bottom:100px;
  padding-left:30px;

}


.bank-div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: block;
  font-family: inherit;
}

.title {
  text-align: center;
  margin-bottom: 50px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: block;
}

.title h2 {
  font-size: 2.9rem;
  font-weight: 800;
  text-transform: uppercase;
  color:hsl(256, 98%, 48%);
  letter-spacing: 5px;
  margin: 50px 0;
  text-align: center;
}

.ai-fin-image {
  position: relative;
  width: 450px;
  margin: 20px;
}

section p {
  box-sizing: border-box;
  text-align: justify;
  margin-left: 20px;
  margin-right: 20px;
}


figure {
  margin: 0 0 1.3rem 0;
  -webkit-transition: .125s linear;
  -moz-transition: .125s linear;
  -ms-transition: .125s linear;
  -o-transition: .125s linear;
  transition: .125s linear;
}

figure img {
  max-width: 450px;
  height: auto;
  padding:0;
}

body:before, body:after {
  content: "";
  display: table;
}

body:after { clear: both }

p { margin-bottom: 1.3rem }

article {
  margin-bottom: 3rem;
  position: relative;
  *zoom: 1;
}

article:before, article:after {
  content: "";
  display: table;
}

article:after { clear: both }

article figure {
  float: left;
  width: 32.5%;
}

article section:first-of-type {
  float: right;
  width: 62.5%;
}

article section:last-of-type {
  display: none;
  visibility: hidden;
}

section {
  -webkit-transition: 1s linear;
  -moz-transition: .125s linear;
  -ms-transition: .125s linear;
  -o-transition: .125s linear;
  transition: 1s linear;
}

input[type=checkbox] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

[for="read_more"] {
  position: absolute;
  bottom: -3rem;
  left: 0;
  width: 100%;
  text-align: center;
  padding: .65rem;
  box-shadow: inset 1px 1px rgba(0, 0, 0, 0.1), inset -1px -1px rgba(0, 0, 0, 0.1);
}

[for="read_more"]:hover {
  background: rgba(0,0,0,.5);
  color: rgb(255,255,255);
}

[for="read_more"] span:last-of-type {
  display: none;
  visibility: hidden;
}

input[type=checkbox]:checked ~ section {
  display: block;
  visibility: visible;
  width: 100%;
}

input[type=checkbox]:checked ~ figure { width: 100% }

input[type=checkbox]:checked ~ [for="read_more"] span:first-of-type {
  display: none;
  visibility: hidden;
}

input[type=checkbox]:checked ~ [for="read_more"] span:last-of-type {
  display: block;
  visibility: visible;
}