@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  width: 100%;
  height: 100vh;
}

a { color: white; text-decoration: none; }
/*-------->> header nav <<-----------*/

#ai-logo {
    font-size: 1.0em;
    margin-left: 1em;
    color: white;
    display: inline-block;
    padding: 0 5px 1px 0;
    text-decoration: none;
   }

#ai-logo:hover {
   background-color: rgba(0, 0, 0, 0.3);;
   cursor: pointer;
  }

  .nav {
    height: 50px;
    width: 100%;
    background-color: rgb(18, 42, 49);
    position: fixed;
    z-index: 1 !important;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
    
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:768px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
      cursor: pointer;
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: rgb(18, 42, 49);
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    } 
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(60vh - 50px);
      overflow-y: auto;
      text-align: center;
    }
  }

/* ===========================================================*/

  /* ---------------------->INTRO<----------------------------*/

  .intro {
    margin: 0;
    padding: 0;
    background-color: slategrey;
    background-image: url("../images/business-ai-hands.jpg");
    width: 100%;
    height: 100vh;
    max-height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .intro-container{
    color: rgba(255,255,255,.75);
    font-family: 'Anonymous Pro', monospace;  
    background-color: rgb(25,25,25);
    text-align: center;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 5vh;
    margin: 0;
  }

  .intro h1 {
    color:rgb(18, 42, 49);
    background-color: slategrey ;
    font-size: 72px;
    letter-spacing: 20px;
    vertical-align: middle;
    text-align:center;
    padding-top: 5%;
  }

 .intro-span {
  background: #2c3e50;
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
 }

  .explmre-btn {
  transition: box-shadow 0.5ms ease-in-out, color 0.9ms ease-in-out;
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 4px solid; 
  border-radius: 0.6em;
  border-color: rgba(67, 242, 224, 1);;
  color: whitesmoke;
  cursor: pointer;
  display: flex;
  align-items: center;
  align-self: center;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'monsterat', sans-serif;
  font-weight: 700;
  padding: 1.2em 2.8em;
  margin-left: 40%;
  margin-top: 30%;
  
  }

.explmre-btn:hover {
  color: whitesmoke;
  outline: 0;
  background-color: rgba(0, 0, 0, 0.3);
}



.line-1{
      position: relative;
      top: 50%;  
      width: 24em;
      margin: 0 auto;
      border-right: 2px solid rgba(255,255,255,.75);
      font-size: 180%;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      transform: translateY(-50%);
      clear: both;
  }

  .line-2{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
    margin-top: 20%;
    clear: both;
}
  
  /* Animation */
  .anim-typewriter{
    animation: typewriter 4s steps(44) 1s 1 normal both,
               blinkTextCursor 500ms steps(44) infinite normal;
  }
  @keyframes typewriter{
    from{width: 0;}
    to{width: 24em;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  }


  /* spikes animation */
  .anim-ai-spikes {
    position: relative;
    width: 100%;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 0;
    margin-top: 0;
    height: 20vh;
  }

  .spike {
    position: absolute;
    left: 0;
    width: 100%;
    height: 5vh;
    margin: 0 auto;
    background: url("../images/ai_intro_animation.png");
    background-size: 1000px 100px;
    z-index:0;
  }

  .spike#spike1 {
    position: absolute;
    display: flexbox;
    z-index: 1000;
    opacity: 0.6;
    animation: animateWaves 18s linear infinite;
  }
  
  .spike#spike2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 20s linear infinite !important;
  }
  
  .spike#spike3 {
    z-index: 1000;
    opacity: 0.4;
    bottom: 15px;
    animation: animateWaves 22s linear infinite;

  }
  
  .spike#spike4 {
    z-index: 900;
    opacity: 1;
    bottom: 20px;
    animation: animate 10s linear infinite;
  }
  
  @keyframes animateWaves {
    0% {
      background-position-x: 1000px;
    }
    100% {
      background-position-x: 0px;
    }
  }
  
  @keyframes animate {
    0% {
      background-position-x: -1000px;
    }
    100% {
      background-position-x: 0px;
    }
  }
  
  
  
/*==================================================================*/

.ai-101 {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: chocolate;
  background-image: url("../images/ai_101_bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.ai-101 h1 {
  font-size: 60px;
  position: relative;
  background-color: black;
  color: whitesmoke;
  padding-top: 6%;
  height: 25vh;
  text-align: center;
  z-index: 0 !important;
}

.industries {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: brown;
}


.podcasts {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: darkgreen;
}

.subscribe {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50vh;
  background-color: firebrick;
}

.contact {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50vh;
  background-color: white;
}



/*---------->footer<--------------------------- */

.footer {
  position: relative;
  width: 100%;
  background: rgb(18, 42, 49);
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 0;
}

.social-icon,
.social-icon__item{
  list-style:none;
  display: inline-block;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display:inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -65px;
  left: 0;
  width: 100%;
  height: 60px;
  background: url("../images/ai_wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 0.6;
  bottom: 0;
  animation: animateWaves 18s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 20s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.4;
  bottom: 15px;
  animation: animateWaves 22s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 1;
  bottom: 20px;
  animation: animate 10s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-position-x: 0px;
  }
}


/* ===========================================================*/

/*=========================================================================================================*/

/* Color Theme Swatches in RGBA */
.human-brain-on-technology-background-represent-artificial-intelligence-and-cyber-space-concept-1-rgba { color: rgba(1, 8, 12, 1); }
.human-brain-on-technology-background-represent-artificial-intelligence-and-cyber-space-concept-2-rgba { color: rgba(33, 141, 165, 1); }
.human-brain-on-technology-background-represent-artificial-intelligence-and-cyber-space-concept-3-rgba { color: rgba(80, 191, 191, 1); }
.human-brain-on-technology-background-represent-artificial-intelligence-and-cyber-space-concept-4-rgba { color: rgba(39, 89, 89, 1); }
.human-brain-on-technology-background-represent-artificial-intelligence-and-cyber-space-concept-5-rgba { color: rgba(67, 242, 224, 1); }


/* MEDIA QUERIES v2 */


/*=================-------=======================*/
/*=================LAPTOPS=======================*/
/*=================-------=======================*/
/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-width: 1200px) 
  and (max-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .nav {
      z-index: 1 !important;
    }
    .nav > .nav-header > .nav-title {
      font-size: 24px;
    }
    .nav > .nav-links {
      font-size: 20px;
    }

    .intro h1 {
      font-size: 60px;
      letter-spacing: 25px;
      padding-top: 3.5%;
    }
    .line-1{
      margin-top: 30%;
      font-size: 24px;
    }
    .line-2{
      margin-top: 0;
      font-size: 24px;
    }

    .explmre-btn {
      margin-left: 40%;
      margin-top: 0 ;
    }
    .spikes {
      padding-top: -40%;
      z-index: 0;
    }

    .ai-101 h1 {
      z-index: 0 !important;
    }
  
  }

  /* ----------- Retina Screens ----------- */

  @media screen 
  and (min-width: 1200px) 
  and (max-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    
    .nav {
      z-index: 1 !important;
    }
    .nav > .nav-header > .nav-title {
      font-size: 24px;
    }
    .nav > .nav-links {
      font-size: 20px;
    }

    .intro h1 {
      font-size: 60px;
      letter-spacing: 25px;
      padding-top: 3.5%;
    }
    .line-1{
      margin-top: 30%;
      font-size: 24px;
    }
    .line-2{
      margin-top: 0;
      font-size: 24px;
    }

    .explmre-btn {
      margin-left: 40%;
      margin-top: 0 ;
    }
    .spikes {
      padding-top: -40%;
      z-index: 0;
    }
    
    .ai-101 h1 {
      z-index: 0 !important;
    }
  
  }

  /*==============================================*/
  /*-------------iPhones--------------------------*/
   /*==============================================*/


  /* ========= iPhone 4 and 4S =================*/
  /* Portrait and Landscape */
@media only screen 
and (min-width: 320px) 
and (max-width: 480px)
and (-webkit-min-pixel-ratio: 2) {

  .nav > #nav-check:checked ~ .nav-links {
    height: 35vh;
    overflow-y: auto;
    text-align: center;
    font-size: 14px;
    line-height: 10px;
  }

  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
  } 

  .intro h1 {
    font-size: 32px;
    letter-spacing: 10px;
    padding-top: 25%;
    width: 100%;
  }
  .line-1{
    margin-top: 60%;
    font-size: 12px;
  }
  .line-2{
    margin-top: 0;
    font-size: 12px;
  }

  .explmre-btn {
    align-self: center;
    margin: 0 auto;
  }
  .anim-ai-spikes {
    position: absolute;
    margin-top: 0;
  }
  .spike {
    height: 17vh;
    }
  
  }
  .spike#spike1 {
    animation: animateWaves 48s linear infinite;
  }
    
  .spike#spike2 {
    animation: animate 40s linear infinite !important;
  }
    
  .spike#spike3 {
    animation: animateWaves 42s linear infinite;
  }
    
  .spike#spike4 {
    animation: animate 30s linear infinite;
  }
  
  .footer p {
  font-size: 0.7rem;
  }
  
  .wave#wave1 {
  animation: animateWaves 15s linear infinite;
  }
  
  .wave#wave2 {
  animation: animate 22s linear infinite !important;
  }
  
  .wave#wave3 {
  animation: animateWaves 25s linear infinite;
  }
  
  .wave#wave4 {
    animation: animate 29s linear infinite;
  

}


/* Portrait */
@media only screen 
  and (min-width: 320px) 
  and (max-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

  .nav > #nav-check:checked ~ .nav-links {
    height: 35vh;
    overflow-y: auto;
    text-align: center;
    font-size: 14px;
    line-height: 10px;
  }

  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
  } 

  .intro h1 {
    font-size: 32px;
    letter-spacing: 10px;
    padding-top: 25%;
    width: 100%;
  }
  .line-1{
    margin-top: 60%;
    font-size: 12px;
  }
  .line-2{
    margin-top: 0;
    font-size: 12px;
  }

  .explmre-btn {
    align-self: center;
    margin: 0 auto;
  }
  .anim-ai-spikes {
    position: absolute;
    margin-top: 0;
  }
  .spike {
    height: 17vh;
    }
  
  }
  .spike#spike1 {
    animation: animateWaves 48s linear infinite;
  }
    
  .spike#spike2 {
    animation: animate 40s linear infinite !important;
  }
    
  .spike#spike3 {
    animation: animateWaves 42s linear infinite;
  }
    
  .spike#spike4 {
    animation: animate 30s linear infinite;
  }
  
  .footer p {
  font-size: 0.7rem;
  }
  
  .wave#wave1 {
  animation: animateWaves 15s linear infinite;
  }
  
  .wave#wave2 {
  animation: animate 22s linear infinite !important;
  }
  
  .wave#wave3 {
  animation: animateWaves 25s linear infinite;
  }
  
  .wave#wave4 {
    animation: animate 29s linear infinite;
  
}

/* Landscape */
    @media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
and (orientation : landscape) {
      html {-webkit-text-size-adjust: none; /* none for no scaling */
  }
}   
    .nav > #nav-check:checked ~ .nav-links {
     height: 50vh;
     overflow-y: auto;
     text-align: center;
     font-size: 14px;
     line-height: 10px;
      height: calc(60vh - 50px);
    }

    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
} 
    .intro {
      background-size: cover;
    }
    .intro h1 {
      font-size: 32px;
      letter-spacing: 10px;
      padding-top: 10%;
      width: 100%;
    }
    .line-1{
      margin-top: 0;
      font-size: 12px;
    }
    .line-2{
      margin-top: 20%;
      font-size: 12px;
    }
  /* WIP */
    .explmre-btn {
      align-self: center;
      margin-top: 1%;
      padding: 0.4em 1.2em;
      border: 2px solid;
      border: 4px solid; 
      border-radius: 0.6em;
      border-color: rgba(67, 242, 224, 1);;
    }

    .anim-ai-spikes {
      position: absolute;
      margin-top: 10%;
    }
    .spike {
      height: 29.5vh;
      }
   
    .spike#spike1 {
      animation: animateWaves 48s linear infinite;
    }
      
    .spike#spike2 {
      animation: animate 40s linear infinite !important;
    }
      
    .spike#spike3 {
      animation: animateWaves 42s linear infinite;
    }
      
    .spike#spike4 {
      animation: animate 30s linear infinite;
    }
    
    .footer p {
    font-size: 0.7rem;
    }
    
    .wave#wave1 {
    animation: animateWaves 15s linear infinite;
    }
    
    .wave#wave2 {
    animation: animate 22s linear infinite !important;
    }
    
    .wave#wave3 {
    animation: animateWaves 25s linear infinite;
    }
    
    .wave#wave4 {
      animation: animate 29s linear infinite;
    
  }
  
/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-width: 320px) 
and (max-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {

  .intro h1 {
    font-size: 22px;
    letter-spacing: 10px;
    padding-top: 20%;
    width: 100%;
  }
  .line-1 , .line-2{
    margin-top: 0;
    font-size: 12px;
  }

  .explmre-btn {
    align-self: center;
    margin: 0 auto;
    margin-top: 60%;
  }
  .anim-ai-spikes {
    position: absolute;
    margin-top: 0;
  }
  .spike {
    height: 17vh;
    }
  
  }
  .spike#spike1 {
    animation: animateWaves 48s linear infinite;
  }
    
  .spike#spike2 {
    animation: animate 40s linear infinite !important;
  }
    
  .spike#spike3 {
    animation: animateWaves 42s linear infinite;
  }
    
  .spike#spike4 {
    animation: animate 30s linear infinite;
  }
  
  .footer p {
  font-size: 0.7rem;
  }
  
  .wave#wave1 {
  animation: animateWaves 15s linear infinite;
  }
  
  .wave#wave2 {
  animation: animate 22s linear infinite !important;
  }
  
  .wave#wave3 {
  animation: animateWaves 25s linear infinite;
  }
  
  .wave#wave4 {
    animation: animate 29s linear infinite;
  
}


/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2) { 

}

/* Portrait */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) { 

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 414px) 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
and (min-device-width: 414px) 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
and (min-device-width: 414px) 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) { 

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) { 

}


}








