@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
@import 'https://fonts.googleapis.com/css?family=Comfortaa:300,700|Bungee+Shade|Josefin+Sans:400';


*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}


html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

a { color: white; text-decoration: none; }
/*-------->> header nav <<-----------*/

#ai-logo {
    font-size: 1.0em;
    margin-left: 1em;
    color: white;
    display: inline-block;
    padding: 0 5px 1px 0;
    text-decoration: none;
   }

#ai-logo:hover {
   background-color: rgba(0, 0, 0, 0.3);;
   cursor: pointer;
  }

  .nav {
    height: 50px;
    width: 100%;
    background-color: rgb(18, 42, 49);
    position: fixed;
    top: 0;
    z-index: 1;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 14px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
    
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:812px) and (max-height:1200px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
      cursor: pointer;
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: rgb(18, 42, 49);
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    } 
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(60vh - 50px);
      overflow-y: auto;
      text-align: center;
    }
  }

/* ===========================================================*/

  /* ---------------------->INTRO<----------------------------*/

  .intro {
    margin: 0;
    padding: 0;
    background-color: slategrey;
    background-image: url("../images/business-ai-hands.jpg");
    width: 100%;
    height: 100vh;
    max-height: 100%;
    background-blend-mode:multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 25% 25%;
  }


  .intro h1 {
    color:rgb(18, 42, 49);
    background-color: slategrey ;
    font-size: 72px;
    letter-spacing: 20px;
    vertical-align: middle;
    text-align:center;
    padding-top: 5%;
  }


  .goto-btn {
  transition: box-shadow 0.5ms ease-in-out, color 0.9ms ease-in-out;
  box-sizing: border-box;
  appearance: none;  
  background-color: rgb(18, 42, 49);
  border: 4px solid;
  border-radius: 0.6em;
  border-color: rgba(67, 242, 224, 1);;
  color: whitesmoke;
  cursor: pointer;
  display: flex;
  align-items: center;
  align-self: center;
  padding: 1.2em 2.8em;
  margin: 0 auto;
  position: relative;
  z-index:2;
  }

.goto-btn:hover {
  color: whitesmoke;
  outline: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.goto-btn p {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  text-align: center;
  text-transform: uppercase;
  line-height: 1;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 10px;
}


.line-container .line-1 {
  color: rgba(255,255,255,.75);
  font-family: 'Anonymous Pro', monospace;  
  background-color: rgb(25,25,25);
  box-sizing: border-box;
  width: 100%;
  border-right: 2px solid rgba(255,255,255,.75);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
  position: absolute;
  display: flex;
  font-size: 24px;
  word-spacing: 16px;
  height: 4vh;
  padding-left: 1%;
  padding-right: 1%;
  margin-top: 34%;
}	

  /* Typewriter Animation */
  .anim-typewriter{
    animation: typewriter 4s steps(44) 1s 1 normal both,
               blinkTextCursor 500ms steps(44) infinite normal;
  }
  @keyframes typewriter{
    from{width: 0;}
    to{width: 100%;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  }


  /* spikes animation*/
  .spike {
    position: relative;
    margin-top: 0;
    width: 100%;
    height: 10vh;
    background: url("../images/ai_intro_animation.png");
    background-repeat: repeat;
    background-size: 1000px 100px;
    margin-top: 35%;
  
  }  

  .spike#spike1 {
    opacity: 0.6;
    animation: animateWaves 100s linear infinite;
  }
  

  @keyframes animateWaves {
    0% {
      background-position-x: 1000px;
    }
    100% {
      background-position-x: 0px;
    }
  }
  
  @keyframes animate {
    0% {
      background-position-x: -1000px;
    }
    100% {
      background-position-x: 0px;
    }
  }
  
  
  
/*==================================================================*/

.ai-101 {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(176, 221, 236, 0.966);
  background-image: url("../images/ai_101_bg.png");
  background-repeat: no-repeat;
  background-blend-mode:lighten;
  color: rgb(25,25,25);
  background-attachment:fixed;
  background-position: 50% 50%;
  z-index: 0;
  position: relative;
}


.section-header{
  position: relative;
  display: inline;
  z-index: 3;
  }

.section-header h1{
  background-color:rgb(18, 42, 49);
  font-size: 60px;
  color: whitesmoke;
  text-align: center;
  height: 15vh;
  margin-top: 2%;
  padding-top: 2.5%
  }

.ai-101-container article {
  color: rgb(18, 42, 49);
  margin-left: 1%;
  margin-right: 1%;
  text-align: justify;
}

.ai-101-container h2 {
float: left;
text-align: right;  
font-size: 32px;
overflow-wrap: break-word;
line-height: 20px;
vertical-align: middle;
display: inline;
color: rgb(18, 42, 49);
padding-bottom: 20%;
margin-top: 0.5%;
}


.ai-101-container  h3 {
  font-size: 22px;
  display: inline;
  background-color: whitesmoke;
  color: black;
  }

  .ai-101-a {
    margin-top: 2%;
  }
  
 .ai-101-d {
   margin-top: -12%;
   float: left;
 } 

 #mimic-icon {
  width: 150px;
  float: left;
  position: absolute;
  display: flex;
  transform: rotate(45deg);
  margin-top:  10%;
  margin-left: 5%;
}

#process-icon {
  width: 110px;
  float: left;
  position: absolute;
  display: flex;
  transform: rotate(45deg);
  margin-top: 13%;
  margin-left: 15.5%;
}

 #ux-icon {
   width: 80px;
   float: left;
   position: absolute;
   display: flex;
   margin-top: 1%;
   margin-left: 9%;
 }

 
 #ml-icon {
  width: 150px;
  float: left;
  position: absolute;
  display: flex;
  margin-top: 1%;
  margin-left: 1%;
}

  #big-data-icon {
    width: 60px;
    float: left;
    position: absolute;
    display: flex;
    margin-top: 1%;
    margin-left: 1%; 
  }

  #bus-mgt-icon {
    width: 100px;
    float: left;
    position: absolute;
    display: flex;
    margin-top: 1%;
    margin-left: 1%;

  }

  #op-icon {
    width: 100px;
    float: left;
    position: absolute;
    display: flex;
    margin-top: 1%;
    margin-left: 9.5%;
  }
 
  #elv-icon {
   width: 100px;
   float: left;
   position: absolute;
   display: flex;
   margin-top: 1%;
   margin-left: 18.5%;
 }
 
   #growth-icon {
     width: 100px;
     float: left;
     position: absolute;
     display: flex;
     margin-top: 1%;
     margin-left: 28%; 
   }
   
   .author{
   position: relative;
   display: flex;
   margin-right: 10%;
   margin-top: -4%;
   z-index: 1;
   float: right;
   color: white;
   line-height: 20px;
   height: 150px;
   max-width: 100px;
   width: 100%;
   white-space: nowrap;
   }


   .author p {
     line-height: 18px;
     padding-right: 5%;
     padding-left: 5%;
     
   }

   .author aside {
    line-height: 18px;
    border-left: 2px solid rgba(127, 221, 252, 0.932);
    height: 8vh;
  }

   .profile-photo {
    border-radius: 50%;
    height: 50px;
    max-width: 50px;
    width: 100%;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background: #B0B0B0;
    -webkit-box-pack: space-around;
    -webkit-justify-content: space-around;
    -ms-flex-pack: space-around;
    justify-content: space-around;
    position: relative;
    z-index: 1;
    float: right;
    color: white;
   }

.audio-player {
  float:left;
  margin-top: -4%;
  margin-left:-0.3%;
  width: 310px;
  height: 5vh;
  opacity: 0.3;
  filter:invert(100%);
  }

  .audio-player:hover {
    opacity: 0.9;
  }

  audio::-webkit-media-controls-play-button {
    background-color: transparent;
    border-radius: 50%;
  }
  
  audio::-webkit-media-controls-play-button:hover {
    background-color: rgba(127, 221, 252, 0.932);
    filter:invert(100%);
  }
  
  #listen{
    float: left;
    margin-left: 0;
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    height: 2vh;
    font-size: 16px;

  }

  .fas .fa-hand-pointer{
    float: left;
    margin-left: 1.1%;
    background-color: black;
    height: 2vh;
    color: rgba(127, 221, 252, 0.932);
    padding-right: 0.5%;
  }
  
  .fa-clock {
    float: right;
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
  }  

  .section-footer {     /*footer*/
    position: absolute;
    width: 100%;
    background: rgb(18, 42, 49,.3);
    height: 10vh;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    margin-top: 13%;
    z-index:4;
  }

  .spike-sec {
    position: relative;
    margin-top: 0;
    width: 100%;
    height: 5vh;
    background: url("../images/ai_intro_animation.png");
    background-repeat: repeat;
    background-size: 1000px 100px;
    margin-top: 18%;
  }  

/*=====================================================end============================================================= */
 
/*============#industries===================================start=====================#industries============================= */


.industries{
    background: #424242;
    color: #fff;
    font-family: Comfortaa, sans-serif;
    font-weight: 300;
    letter-spacing: .03rem;
    line-height: 1;
    margin: 0 auto;	
    height: 100vh;
  }

/* GRID */


  main {
  display: grid;
  min-height: 100%;
  padding: 2.5px 2.5px;
  margin-bottom: -12.5%;
}

 .grid {
	width: auto;
  height: 75vh;
	border: none;
  background-color: rgba(12, 182, 233, 0.562);
}


.grid-template-rows-1{
  grid-template-rows: minmax(1fr, 500px);
  grid-template-columns: repeat(4, 1fr);
}


#bankfin {
  grid-row: span 2;
  background-color:rgba(39, 89, 89, 0.4);
}

#retailecom {
  background-color:rgba(39, 89, 89, 0.4);
}

#logisticstrans {
  background-color:rgba(39, 89, 89, 0.6);
}

#manufacturing {
  grid-row: span 2;
  background-color:rgba(39, 89, 89, 0.6);
  
}

#healthph {
  background-color:rgba(39, 89, 89, 0.4);
}

#gaming {
  background-color:rgba(39, 89, 89, 0.4);
}


.item {
	margin: 2.5px;
	text-align: center;
	font-size: 1.5em;
}

.grid h1 {
	text-align: center;
	font-size: 20px;
	font-weight: normal;
}
.grid h2 {
	text-align: center;
	font-size: 22px;
  font-weight:500;
  background-color: inherit;
  filter: invert(10%);
  color: white;
}
.grid p {
  text-align: center;
	font-size: 18px;
	font-weight:500;
  color: rgba(1, 8, 12, 1);
  mix-blend-mode:hard-light;
  padding-top: 3.5%;
}
/*======================================================= */


/*POP-UP ARTICLE */
.popup-container {
  height:135%;
  width:100%;
}


#popup-article-bankfin {
  height:135%;
  width:270%;
  margin-left:66%;
  margin-top: -144%;
  position:relative;
  z-index:10;
  display:none;
  background: #424242;
  border:5px solid #cccccc;
  border-radius:10px;
  overflow: scroll;

}

#cover{
  position:fixed;
  top:0;
  left:0;
  background:rgba(0,0,0,0.6);
  z-index:5;
  width:100%;
  height:100%;
  display:none;
}

#popup-article-bankfin article { 
  margin-top: 3%;
  margin-right: 3%;
  margin-left: 3%;
  line-height: 25px;
  background-color: white;
  height: 100%;
  padding-left: 2%;
  padding-right: 2%;
}


#popup-article-bankfin article p {  /* wip */
  text-align: justify;
  padding-left: 36.5%;
  margin-top: -7.5%;
  margin-right: -5.5%;
  float:right;
  display: inline;
}

#quote-1{
  font-size: 28px;
  color: darkblue;
  font-weight:bolder;
  float: right;
  display: inline;
  padding-top: 4%;
  padding-left: 40%;
  line-height: 50px;
}


.popup-article-bankfin {
  background: none;
  color: black;
}

#popup-article-bankfin:target, #popup-article-bankfin:target + #cover{
  display:block;
  opacity:2;
}
.cancel {
  display:block;
  position:absolute;
  top: 0;
  right:0;
  background:rgb(245,245,245);
  color:black;
  height:30px;
  width:35px;
  font-size:30px;
  text-decoration:none;
  text-align:center;
  font-weight:bold;
}

.cancel:hover {
  color:red;
}

/*-------------popup content and images---------------wip--------- */


.vertical-image {
  float: left;
  position: absolute;
  display: flex;
  padding-top: 10%;
  padding-right: 2%;
  margin-top: -9.5%;
  margin-left: -4.5%;
  z-index: 20;
}

 #q-icon {
  float:right;
  width: 50px;
  margin-top: 4%;
  margin-right: 50%;
  margin-bottom: -70%;
}

#q-caption {
  color:black;
  display: flex;
  flex-direction: column;
  padding-left: 45%;
  margin-left:-28%;
  padding-top: 4%;
  font-size: 18px;
  font-weight: 600;
}
/*
.btm-images img {
  width: 300px;
  height: 300px;
}
*/

/*popup article header and it's contents */

#popup-article-bankfin h2{
  background-color:rgb(18, 42, 49);
  font-size: 30px;
  color: whitesmoke;
  text-align: center;
  width: 100%;
  height: 10vh;
  margin-top: 2%;
  padding-top: 2.5%;
  padding-right: 4%;
  }

.author-pu{
  position: relative;
  display: flex;
  z-index: 1;
  float: right;
  color: white;
  line-height: 20px;
  height: 150px;
  max-width: 100px;
  width: 100%;
  white-space: nowrap;
  margin-right: 15%;
  margin-top: -7%;
  }

  .author-pu > p {
    line-height: 20px;
    padding-right: 15%;
    margin-left: -25%;
    padding-top: 22%;
    font-size: 16px;
    color: white;
  }

  .author-pu > aside {
   line-height: 18px;
   border-left: 2px solid rgba(127, 221, 252, 0.932);
   height: 8vh;
   color:white;
   font-size:14px;
   text-align: left;
   padding-top: 15%;
   padding-left: 5%;
 }

  .author-pu > .profile-photo {
    margin-top: 15%;
  }

.audio-player-pu {
 float:left;
 margin-top: -6%;
 opacity: 0.3;
 filter:invert(100%);
 position: relative;
 z-index: 100;

 }

 .audio-player-pu:hover {
   opacity: 0.9;
 }

 .pointer-pu {
   float: left;
   margin-top: 0;
   margin-left: 2%;
   background-color: black;
   height: 2vh;
   color: white;
   padding-right: 0.5%;
   font-family: 'Times New Roman', Times, serif;
   font-size: 16px;
 }

 
 .clock-pu .fas .fa-clock{
   float: right;
   margin-top: 0;
   background-color: red;
   color: white;
 }  

.clock-pu span {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
}
/*=====================================================*/

















.podcasts {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: darkgreen;
}

.subscribe {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50vh;
  background-color: firebrick;
}


.contact {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50vh;
  background-color: white;
}



/*---------->footer<--------------------------- */

.footer {
  position: relative;
  width: 100%;
  background: rgb(18, 42, 49);
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 0;
}

.social-icon,
.social-icon__item{
  list-style:none;
  display: inline-block;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display:inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -65px;
  left: 0;
  width: 100%;
  height: 60px;
  background: url("../images/ai_wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 0.6;
  bottom: 0;
  animation: animateWaves 18s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 20s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.4;
  bottom: 15px;
  animation: animateWaves 22s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 1;
  bottom: 20px;
  animation: animate 10s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-position-x: 0px;
  }
}


/* ===========================================================*/

/*=========================================================================================================*/

/* Color Theme Swatches in RGBA */
.human-brain-on-technology-background-represent-artificial-intelligence-and-cyber-space-concept-1-rgba { color: rgba(1, 8, 12, 1); }
.human-brain-on-technology-background-represent-artificial-intelligence-and-cyber-space-concept-2-rgba { color: rgba(33, 141, 165, 1); }
.human-brain-on-technology-background-represent-artificial-intelligence-and-cyber-space-concept-3-rgba { color: rgba(80, 191, 191, 1); }
.human-brain-on-technology-background-represent-artificial-intelligence-and-cyber-space-concept-4-rgba { color: rgba(39, 89, 89, 1); }
.human-brain-on-technology-background-represent-artificial-intelligence-and-cyber-space-concept-5-rgba { color: rgba(67, 242, 224, 1); }


/* MEDIA QUERIES v2 */

