@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}



/*===================================================*/
/* Navigation Horizontal + Toogle */

header {
  position: fixed;
  background-color: rgb(18, 42, 49);
  width: 100%;
  z-index: 10;
}

nav {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  padding: 1em 1.25em 1em 0em;
}

#logo {
  font-size: 1.5em;
  margin-left: 1em;
}

#logo a {
  text-decoration: none;
  color: var(--clr-secondary);
}

.hb {
  position: absolute;
  top: 0.6em;
  right: 1em;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  cursor: pointer;
}

.hb-line {
  height: 10%;
  width: 100%;
  background-color: rgba(33, 141, 165, 1);
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .hb {
  display: flex;
  }
}

.navbar ul {
  display: flex;
  margin-right: 0.7em;
}

.navbar ul li {
  list-style: none;
  padding: 0em 1.2em;
}

.navbar ul li a {
  display: block;
  text-decoration: none;
  color: rgba(80, 191, 191, 1);
}


.navbar a:hover {
  transition: ease-in 300ms;
  color: whitesmoke;
  font-size: larger;
}

.navbar a:active {
  transition: ease-in 300ms;
}


/*===================================================*/

/* --------------intro screen------------------- */

.intro-screen {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.intro-screen video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit:cover;
}

.intro-screen h2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 300%;
  text-align: center;
  font-weight: 800;
  line-height: 0.85em;
  color: rgba(33, 141, 165, 1);
  background: rgba(1, 8, 12, 1);
  mix-blend-mode: multiply;
} 

.intro-screen h2 span {
  font-size: 0.4em;
  line-height: 0.85em;
}

/*===================================================*/


/* media queries */

@media screen and (max-width: 1345px) {
  .tutorial-container {
    display: block;
  }

  .video-container {
    display: block;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 2em;
  }
}

@media screen and (max-width: 1090px) {
  .contact-right {
    display: none;
  }

  form {
    margin: 0 auto;
  }

  .footer-links ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  .footer-links li {
    padding: 5px;
  }

  .footer-links a {
    font-size: 2em;
  }

  .footer-container {
    display: block;
    text-align: center;
  }
}

@media screen and (max-width: 1028px) {
  .benefits-container {
    flex-direction: column;
    align-items: center;
  }

  .benefits-container ul {
    width: 350px;
  }

  .profile-container {
    justify-content: center;
    padding-top: 20px;
  }
}


@media screen and (max-width: 792px) {
  .intro-screen {
    height: 100vh;
  }

  .intro-screen h1 {
    padding: 0em 1em;
  }

  .benefits-container {
    justify-content: center;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .hb {
    display: flex;
  }

  .navbar {
    display: none;
    width: 100%;
  }

  .navbar ul {
    flex-direction: column;
    margin: 0 auto;
  }

  .navbar ul li {
    text-align: center;
  }

  .navbar ul li a {
    padding: 0.5em 0em;
  }

  .navbar.active {
    display: flex;
  }

  .quote-container h3 {
    font-size: 1.125em;
  }

  .quote {
    padding: 25px;
  }
}

@media screen and (max-width: 500px) {
  .intro-screen h2 {
    font-size: 2em;
  }

  .intro-screen-btn {
    font-size: 1em;
  }
  
}








/* =================================================== */


/* --START----------pop-window--------START--- */

.ontop {
  z-index: 9999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  position: absolute;
  background-color:snow;
  color: black;
  opacity: 3;
  filter:alpha(opacity=80);
}
#popup {
  width: 300px;
  height: 200px;
  position: absolute;
  background-color: white;
  /* To align popup window at the center of screen*/
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -150px;
}

/* --END----------pop-window--------END--- */








.text
{
  position: relative;
  z-index: 10;
}

.text h2
{
  font-size: 5em;
  font-weight: 800;
  color: #542cfa;
  line-height: 1em;
  text-transform: uppercase;
}
.text h3
{
  font-size: 4em;
  font-weight: 700;
  color: #542cfa;
  line-height: 1em;
  text-transform: uppercase;
}
.text p
{
  font-size: 1.1em;
  color: #542cfa;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}
.text a
{
  display: inline-block;
  font-size: 1em;
  background: #542cfa;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}
.text a:hover
{
  letter-spacing: 6px;
}
.social
{
  position: absolute;
  z-index: 10;
  bottom: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*--START-----------Socialmedia buttons-------START--*/
.social li
{
  list-style: none;
}
.social li a
{
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
}
.social li a:hover
{
  transform: scale(0.5) translateY(-15px);
}

/*--END-----------Socialmedia buttons-------END--*/


/*--START---------------- pop-up window INTRO------------------START-- */

.top-heading {
  border-radius: 10px;
  z-index: 100;
  background: #013459;
  color: snow;
  margin-top: 20px;
  padding-top: 25px;
}

.top-heading h1, .top-heading h2 {
  text-align: center;
}

.top-heading h3 {
  font-size: 20px;
  color: rgba(33, 141, 165, 1);
  text-align: right;
}


.grid-a {
  margin-top: 10px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px 40px;
  align-items: center;
  padding-top: 35px;
  padding-right: 35px;
  padding-bottom: 35px;
  padding-left: 35px;
  justify-items: center;
  justify-content: center;
  align-content: center;
}



.btn  h3 {
  margin-bottom: 10px;
  text-align: center;
  word-wrap:break-word;
}

.btn {
  background: #013459;
  color: snow;
  width: 100%;
  display:inline-block;
  border-radius: 20px ;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.grid-a > article {
  border: none;
  box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
  border-radius: 20px;
  width: 200px;
  text-align: center;
  transition: transform .3s;
}

.grid-a > article:hover {
  transform: translateY(5px);
  box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
}

.grid-a > article img  {
  width: 150px;
  height: 150px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

}


.btn:hover{

  background-color: #0071e3;
  color: white;
  border: none;
}



/* --END--------------- pop-up window ---------------END*/

/*--START------------Article: GENERIC------------------------START*/

.title {
  text-align: center;
  margin-bottom: 50px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: block;
}

.title h2 {
  font-size: 2.9rem;
  font-weight: 800;
  text-transform: uppercase;
  color:hsl(256, 98%, 48%);
  letter-spacing: 5px;
  margin: 50px 0;
  text-align: center;
}

section p {
  box-sizing: border-box;
  text-align: justify;
  margin-left: 20px;
  margin-right: 20px;
}

  /*--END------------Article: GENERIC------------------------END*/


/*--START-------------Article: Banking and Finance-----------START-- */
.bank-article {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: block;
  font-family: inherit;
}
.ai-fin-image {
  position: relative;
  width: 450px;
  margin: 20px;
  top: -50px;
}
/*--END-------------Article: Banking and Finance-----------END-- */

/*--START-------------eCommerce and Retail-----------START-- */
.ecom-article {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: block;
  font-family: inherit;
}

.ai-ecom-image {
  position: relative;
  width: 450px;
  margin: 20px;
}
/*--END-------------Article: eCommerce and Retail-----------END-- */

input[type=checkbox] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

#read-more-btn-ecom{
  border:0.1em solid #000000;
  border-radius:0.12em;
  font-family:'Roboto', sans-serif;
  font-weight: 300;
  color:#000000;
  text-align: center;
  transition: all 0.2s;
  position: absolute;
  bottom: -66rem;
  left: 0;
  width: 100%;
  text-align: center;
  padding: .65rem;
  box-shadow: inset 1px 1px rgba(0, 0, 0, 0.1), inset -1px -1px rgba(0, 0, 0, 0.1);
  }

  #read-more-btn-ecom:hover{
    background: rgba(0,0,0,.5);
    color: rgb(255,255,255);
  }



    #read-more-btn-fin{
      border:0.1em solid #000000;
      border-radius:0.12em;
      font-family:'Roboto', sans-serif;
      font-weight: 300;
      color:#000000;
      text-align: center;
      transition: all 0.2s;
      position: absolute;
      bottom: -30rem;
      left: 0;
      width: 100%;
      text-align: center;
      padding: .65rem;
      box-shadow: inset 1px 1px rgba(0, 0, 0, 0.1), inset -1px -1px rgba(0, 0, 0, 0.1);
      }
    
      #read-more-btn-fin:hover{
        background: rgba(0,0,0,.5);
        color: rgb(255,255,255);

      }

/*=========================================Industry Page GENERIC=======================================================================*/

.into-content{
  background: whitesmoke;
}

.rhs-article {
  margin-right: 1%;
  margin-left: 15%;
  background: whitesmoke;
  text-align: justify;
  padding-top: -150%;
  position: absolute;
}

.lhs-article-grid {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: -30%;
    margin-right: -10%;
    display: grid;
    grid-template-columns: 1fr;
    float: left;
    padding-top: -35px;
    padding-right: 35px;
    padding-bottom: 35px;
    padding-left: 10px;
    background-color: blue;
  }

  .lhs-article-grid img{
  width: 100%;
  max-width: 260px;
  max-height: auto;
}


/*========================================ABOUT SECTION================================================================*/

.about {
  height: 300vh;
  display: flex;
}

.about-title {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.about-pages {
  width: 50%;
}

.about-pages p {
  width: 80%;
  font-size: 18px;
  line-height: 30px;
}

.about-pages div:nth-child(1){
  background-color: rgb(56,134,89);
}

.about-pages div:nth-child(2){
  background-color: rgb(129,42,110);
}

.about-pages div:nth-child(3){
  background-color: rgb(31,88,107);
}
}

/*=========================================================================================================*/

/* Color Theme Swatches in RGBA */
.human-brain-on-technology-background-represent-artificial-intelligence-and-cyber-space-concept-1-rgba { color: rgba(1, 8, 12, 1); }
.human-brain-on-technology-background-represent-artificial-intelligence-and-cyber-space-concept-2-rgba { color: rgba(33, 141, 165, 1); }
.human-brain-on-technology-background-represent-artificial-intelligence-and-cyber-space-concept-3-rgba { color: rgba(80, 191, 191, 1); }
.human-brain-on-technology-background-represent-artificial-intelligence-and-cyber-space-concept-4-rgba { color: rgba(39, 89, 89, 1); }
.human-brain-on-technology-background-represent-artificial-intelligence-and-cyber-space-concept-5-rgba { color: rgba(67, 242, 224, 1); }



/*==================================================================================*/
