@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  width: 100%;
  height: 100vh;
}

a { color: white; text-decoration: none; }
/*-------->> header nav <<-----------*/

#ai-logo {
    font-size: 1.0em;
    margin-left: 1em;
    color: white;
    display: inline-block;
    padding: 0 5px 1px 0;
    text-decoration: none;
   }

#ai-logo:hover {
   background-color: rgba(0, 0, 0, 0.3);;
   cursor: pointer;
  }

  .nav {
    height: 50px;
    width: 100%;
    background-color: rgb(18, 42, 49);
    position: fixed;
    z-index:1;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
    
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);;
    cursor: pointer;
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:768px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
      cursor: pointer;
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: rgb(18, 42, 49);
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    } 
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(60vh - 50px);
      overflow-y: auto;
      text-align: center;
    }
  }

/* ===========================================================*/

  /* ---------------------->INTRO<----------------------------*/

  .intro {
    margin: 0;
    padding: 0;
    background-color: rgb(67, 242, 224, 1);
    background-image: url("../images/business-ai-hands.jpg");
    width: 100%;
    height: 100vh;
    max-height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .intro-container{
    color: rgba(255,255,255,.75);
    font-family: 'Anonymous Pro', monospace;  
    background-color: rgb(25,25,25);
    text-align: center;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 5vh;
    margin: 0;
  }

  .intro h1 {
    color:rgb(18, 42, 49);
    background-color: slategrey ;
    font-size: 72px;
    letter-spacing: 20px;
    vertical-align: middle;
    text-align:center;
    padding-top: 5%;
  }

  .intro-span span {
    color: rgb(18, 42, 49);
    text-transform: uppercase;
    font-size: 22px;
    width: 200px;
    text-align: center;
    align-items: center;
    letter-spacing:20px;
    line-height: 30px;
    position: absolute;
    display: flexbox;
    margin-top: 2%;
    margin-left: 40%;
  }

  .intro-span span :hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .line-1{
      position: relative;
      top: 50%;  
      width: 24em;
      margin: 0 auto;
      border-right: 2px solid rgba(255,255,255,.75);
      font-size: 180%;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      transform: translateY(-50%);
      clear: both;
  }

  .line-2{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
    margin-top: 20%;
    clear: both;
}
  
  /* Animation */
  .anim-typewriter{
    animation: typewriter 4s steps(44) 1s 1 normal both,
               blinkTextCursor 500ms steps(44) infinite normal;
  }
  @keyframes typewriter{
    from{width: 0;}
    to{width: 24em;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  }


  /* spikes animation */

  .anim-ai-spikes {
    position: relative;
    width: 100%;
    background: none;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 33.2%;
  }

  .spike {
    position: absolute;
    left: 0;
    width: 100%;
    height: 5vh;
    margin-bottom: 23%;
    background: url("../images/ai_intro_animation.png");
    background-size: 1000px 100px;
  }

  .spike#spike1 {
    z-index: 1000;
    opacity: 0.6;
    bottom: 0;
    animation: animateWaves 18s linear infinite;
  }
  
  .spike#spike2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 20s linear infinite !important;
  }
  
  .spike#spike3 {
    z-index: 1000;
    opacity: 0.4;
    bottom: 15px;
    animation: animateWaves 22s linear infinite;
  }
  
  .spike#spike4 {
    z-index: 999;
    opacity: 1;
    bottom: 20px;
    animation: animate 10s linear infinite;
  }
  
  @keyframes animateWaves {
    0% {
      background-position-x: 1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }
  
  @keyframes animate {
    0% {
      background-position-x: -1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }
  
  
  
/*==================================================================*/

.ai-101 {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: chocolate;
}

.industries {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: brown;
}


.podcasts {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: darkgreen;
}

.subscribe {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50vh;
  background-color: firebrick;
}

.contact {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50vh;
  background-color: white;
}



/*---------->footer<--------------------------- */

.footer {
  position: relative;
  width: 100%;
  background: rgb(18, 42, 49);
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.social-icon__item{
  list-style:none;
  display: inline-block;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display:inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -65px;
  left: 0;
  width: 100%;
  height: 60px;
  background: url("../images/ai_wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 0.6;
  bottom: 0;
  animation: animateWaves 18s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 20s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.4;
  bottom: 15px;
  animation: animateWaves 22s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 1;
  bottom: 20px;
  animation: animate 10s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}


/* ===========================================================*/

/*=========================================================================================================*/

/* Color Theme Swatches in RGBA */
.human-brain-on-technology-background-represent-artificial-intelligence-and-cyber-space-concept-1-rgba { color: rgba(1, 8, 12, 1); }
.human-brain-on-technology-background-represent-artificial-intelligence-and-cyber-space-concept-2-rgba { color: rgba(33, 141, 165, 1); }
.human-brain-on-technology-background-represent-artificial-intelligence-and-cyber-space-concept-3-rgba { color: rgba(80, 191, 191, 1); }
.human-brain-on-technology-background-represent-artificial-intelligence-and-cyber-space-concept-4-rgba { color: rgba(39, 89, 89, 1); }
.human-brain-on-technology-background-represent-artificial-intelligence-and-cyber-space-concept-5-rgba { color: rgba(67, 242, 224, 1); }



/*===========================WIP WIP=== (BELOW)=======WIP=====WIP========================================*/
